<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/jsbasicstest/home">Home</a></td>
        <td><a href="{{site.baseurl}}/jsbasicstest/html">HTML Hacks</a></td>
        <td><a href="{{site.baseurl}}/jsbasicstest/datatypes">Data Types Hacks</a></td>
        <td><a href="{{site.baseurl}}/jsbasicstest/dom">DOM Hacks</a></td>
        <td><a href="{{site.baseurl}}/jsbasicstest/javascript">JavaScript Hacks</a></td>
        <td><a href="{{site.baseurl}}/jsbasicstest/js-debug">JS Debugging Hacks</a></td>
    </tr>
</table>